.top{
	position: top;
	height: 30px; width: 100%;
}

.text_links{
	height: 30px;
	width: 200px;
	float: left;
	
}

.text_links > div{
	display: inline-block;
	margin-right:3px;
	margin-left:3px;
	text-decoration: none;
}

.pic_links{
	float: right;
	height: 30px;
	width: 150px;
}

.pic_links > div {
	display: inline-block;
	height: 32px;
	width: 32px;
}

.profile_pic > img{
	border-radius: 15px;
}